footer {
width: calc(100% - 413px);
float: right;
&.login-section {
	width: 100%;
	background: #eff3f4;
	padding: 20px;
	p {
		color: #64696a;
		span { color: #00a6ff;}
	}
}

	.footer-bottom {
		ul li {
			padding: 5px 11px;
			font-size: 12px;
			color: #808e8f;
			&:not(:last-child) {
				&:hover {
					background: #e6eced;
					border-radius: 5px;
					cursor: pointer;
				}
			}
		}

		.save-info {
			color: #afc4c9;
			span { color:	 #3c4142; }
		}

		.buble {
			background: #fff;
			border-radius: 9px;
			top: -12px;
			padding: 7px 12px;
			right: 165px;
			z-index: 2;
			width: 237px;
			height: 109px;
			font-size: 14px;
			color: #808e8f;
			font-weight: normal;


			&:after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				bottom: 0px;
				right: -18px;
				border-bottom: 25px solid #ffffff;
				border-right: 25px solid transparent;
				z-index: -1;
			}
		}

	}
}

.footer-logo {
	span {
		font-weight: normal !important;
		font-size: 14px;
		color: #585c5c;
	}
}
