footer {
	width: calc(100% - 413px);
	float: right;

  .footer-bottom {
    padding: 20px;
     ul li {
       padding: 10px;
       font-size: 12px;
       color: #808e8f;
     }

     .save-info {
        color: #afc4c9;
        span { color: #3c4142; }
     }

     .buble {
        background: #fff;
        border-radius: 9px;
        top: -100px;
        padding: 41px 20px;
        right: 50px;

     }

     .bubble-wrap {
       &:after {
         content: '';
          position: absolute;
          width: 0;
          height: 0;
          bottom: -30px;
          right: 31px;
          border-bottom: 25px solid #ffffff;
          border-right: 25px solid transparent;
          z-index: -1;
       }
     }
  }
}
