.main-section {
	width: calc(100% - 413px);
	float: right;


}

header {

	.navbar { padding: rem(45px) 0; }
	.navbar-brand { padding-left: 400px}
}


.header-login {
	.btn.btn-secondary {
		background-color: #dce0e1;
		border-color: #dce0e1;
		padding: 12.5px 24px;

		&:hover {
			border-color: #dce0e1;
			opacity: .8;
		}

		i, span { color: #7b7d7e; }
	}

	.signup {
		color: #555c60;

		img { margin-bottom: -2.5px; }
	}
	.auth-btns .btn {
		padding: 12.5px 30px 12.5px 20px !important;
	}
}
