
header {padding: 10px;}
.logo {
    width: 30px;
    height: 30px;
    border: 3px solid $green;
    border-radius: 50px;
}
nav ul {
    li { 
        padding: 10px;
        text-transform: uppercase;
        &.active,
        &:hover {
            border-bottom: 1px solid $yellow;
        }
        a {
            font-size: 12px;
            cursor: pointer;
        }
        
    }
}