%select-dropdown {
	/* remove the original arrow */
	select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	/* no standardized syntax available, no ie-friendly solution available */
	}
}

%box-shadow {
	-webkit-box-shadow: 7px 6px 43px -13px rgba(107,105,107,1);
	-moz-box-shadow: 7px 6px 43px -13px rgba(107,105,107,1);
	box-shadow: 7px 6px 43px -13px #6b696b;
	border: none;
}

.icon,
.dots-indicators li {
	cursor: pointer;
}

.form-group {
	.insurance { width: 140px; }
	.countrybirth { width: 260px; }
	.dayofbirth { width: 73px; }

	.state,
	 .city {
	 	padding-right: 20px;
	 }
}
.death { width: 20%; }

.form-control {
	height: 45px;
	border: none;
	&.conrolname {
		width: 71px;
	}
	&.finame,
	&.lname {
		width: 264px;
	}
	&:focus{
		box-shadow: none;
	}
}

.personal-information {
	.form-check-inline {
		padding-left: 50px;
		padding-right: 50px;
	}
	.person-info {
		.form-group {
			padding-left: 11px;
			padding-right: 11px;
			select {
				width: 70px;
				+.bottom {
					right: -35px;
					top: 5px;
				}
			}
			input {
				border-radius: 5px;
				width: 267px;
			}
		}
		.select-selected {
			padding: 10px 16px;
			padding: 13px 16px;
			border-radius: 5px;
			border: none;
			&:after { top: 15px;}
		}
	}
}


.form-check-inline {
	/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: -7px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #28addb;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}



/* Style the indicator (dot/circle) */
.container .checkmark:after {
	left: 9px;
	top: 3px;
	width: 7px;
	height: 14px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);

	}
}

.my-task {
	.title { color: #48a5ca; }
	.dropdown-toggle {
		background: $white-1;
		border-radius: 5px;
	 }
	.btn-success,
	.btn-danger {
		margin: 0;
		padding: 2px 10px;
		border-radius: 5px;
		font-size: 11px;
		text-transform: uppercase;
		background: #a8d352;
		border: 0;
	}
	.fa-check-circle {
		font-size: 25px;
		color: #a8d352;
	}
	.fa-file-pdf {
		color: red;
		font-size: 25px;
	}
	.fa-eye-slash,
	.fa-download {
		color: #b6c9d0;
	}
	.fa-download {
		background: #e5f4f9;
		padding: 5px 10px;
		border-radius: 15px;
		font-weight: 600;
		font-size: 13px;
	}
	small {
		color: #a8d352;
		text-transform: uppercase;
		span { color: #53554e; }
	}
	.list-group-item {
		border: 0;
		margin-bottom: 10px;
		border-radius: 5px;
		height: 70px;
		&.disabled { opacity: .50; }
		&.sub-file-downloads {
			height: 60px;
			.fa-file-pdf {
				font-size: 20px;
			}
		}
	}
	.delayed {
		.btn-danger {
			background: #ff5c87;
		}
		.fa-check-circle {
			color: #dae2e4;
		}
	}
	p {
		color: #3c4142;
		&.sub-p { color: #827d7d; }
	}
	&.task-succesfull {
		.title { color: #429f25; }
		&.to-downloads {
			.list-group-item {
				background: transparent;
				border-bottom: 1px solid #dae2e4;
			}
		}
	}
	.counter { color: #48a5ca; }
}

.template-survery {
	.top-title { color: #8c9394; }
	.title {
		font-size: 40px;
		color: #313334;
	 }
	 .btn-2 {
	 	margin: 10px;
	 }
	 .survey-button {
	 	max-width: 73%;
	 	margin: 0 auto;
	 }


}

.dots-indicators {
	li {
		width: 8px;
		height: 8px;
		background: #cee8f1;
		border-radius: 50px;
		margin: 3px;
		&.active { background: #58d1fd; }
		&:last-child{
			width: 43px;
			margin-left: 15px;
		}
	}
}

.insurance-button {
	.btn {
		margin: 10px;
	}
}
.select-province {
	label { color: #a2adaf; }
	select {
		height: 50px;
		width: 214px;
		border-radius: 50px;
		padding-left: 21px;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		+.bottom {
			display: inline-block;
			width: 4em;
			height: 4em;
			position: relative;
			left: -32px;
			top: 14px;
			pointer-events: none;
			&:after {
				content: '';
				display: inline-block;
				margin-top: 0.6em;
				width: 0.6em;
				height: 0.6em;
				border-top: 0.1em solid #dadede;
				border-right: 0.1em solid #dadede;
				-moz-transform: rotate(135deg);
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
			}
		}
	}
	.select-selected {
		border-radius: 50px;
		+.select-items {
		}
	}
	.form-group { padding: 5px 20px; }
}


.custom-select-down {
	position: relative;
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		border-radius: 3px;

		+.bottom {
			display: inline-block;
			width: 4em;
			height: 4em;
			position: absolute;
			right: -38px;
			top: 42px;
			pointer-events: none;
			&:after {
				content: '';
				display: inline-block;
				margin-top: 0.6em;
				width: 0.5em;
				height: 0.5em;
				border-top: 0.1em solid #dadede;
				border-right: 0.1em solid #dadede;
				-moz-transform: rotate(135deg);
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
			}
			&.arrow {
				right: -45px;
				top: 4px;
			}
			&.name-arrow {
				right: -19px;
				top: 4px;
			}
		}
	}
}

.login-form,
.sign-form {
	input[type=text], input[type=password], input[type=number] {
		width: 100%;
		padding: 8px 0px;
		display: inline-block;
		border: 0px solid #ccc;
		box-sizing: border-box;
		background: transparent;
		border-bottom: 1px solid #dae2e4;
		font-size: 17px;
		&:focus {
			outline: none;
		}
	}
	.form-login,
	.form-sign {
		background: $white-1;
		width: 420px;
		margin: 0 auto;
		.col { padding: 60px; }
	 }
	 .form-sign {
			background: transparent;
			select {
				background: transparent;
				padding: 0;
				border-radius: 50px;
				-webkit-appearance: none;
				-moz-appearance: none;
				-o-appearance: none;
			}
			.custom-select-down select+.bottom {
				top: 23px;
				right: -51px;
			}
			.select-selected {
				background: transparent;
				border: 0;
		    padding: 14px 14px 16px 0
			}
	 }
	.title { color: #262829; }
	label { color: #99a0a1; }
	p { color: #64696a;
		span { color: #00a6ff; cursor: pointer; }
	 }
}

.pricing {
	.title { color: #212324; }
	.sub-title {color: #64696a;}
	.card {
		width: 328px;
		margin: 0 auto;
		padding: 59px 48px 5px 48px;
		@extend %box-shadow;
	}
	.card-title { color: #151717; }
	.card-price  {
		&.free {
			color: #a9b3b6;
		}
	}
	.sub { color: #a9b3b6; }
	.content { color: #99a0a1; }
	.account {span{color: #00a6ff;}}
}
