html, body {
  background-color: $gray-1;
  color: $black-1;
}

body, input, select, textarea, button, a {
   font-family: $rubik;
}

p, address {
    font-family: $rubik;
    font-size: rem(15px);
    line-height: rem(20px);
}

h1 {
	font-size: 36px;
	color: $blue-1;
}

.fs_20 {
	font-size: 20px;
}
.fs_18 {
	font-size: 18px;
}
.fs_16 {
	font-size: 16px;
}
.fs_15 {
	font-size: 15px;
}
.fs_14 {
	font-size: 14px;
}
.fs_13 {
	font-size: 13px;
}
.fs_12 {
	font-size: 12px;
}
.fs_11 {
	font-size: 11px;
}